*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scrollbar-width: 0;
}
*::-webkit-scrollbar {
  width: 0;
}


.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App > .content{
  flex-grow: 1;
  background-color:#F3F2EF;
 
}

